.checkout {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;

  .card-title {
    color: orangered;
  }

  .card-body {
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

:host ::ng-deep {
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover {
    background: transparent;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }

  .mat-expansion-panel-header {
    z-index: 1;
  }
  .mat-tab-label-container {
    z-index: 0;
  }
  mat-expansion-panel {
    .mat-icon {
      background: url(../../../assets/images/ico_accordion_closed.png) no-repeat;
      content: "" !important;
      height: 44px;
      width: 46px;
    }
  }
  .mat-expansion-panel-header.mat-expanded {
    .mat-icon {
      background: url(../../../assets/images/ico_accordion_open.png) no-repeat;
      content: "" !important;
    }
  }
  .mat-select-arrow {
    width: 20px;
    height: 17px;
    background: url(../../../assets/images/img_ddn_06.png) no-repeat;
    margin: 0 4px;
  }
}
