<h4 class="p-4">Donate- Features, Policies & Restrictions</h4>
<div class="ml-4 mr-4 mb-4">
    <p>
        Vayu Airline has association with <b>Mission Humanity®</b>. They are a charitable organization as described 
        in §501(c)(3) of the Internal Revenue Code; EIN#: 12-345678, registered in the state of Illinois. 
        <b>Mission Humanity®</b> has been very active during this <b>Covid-19 crisis. Wellness Kits, Relief Funds 
        donated</b> here would be contributed to Non-Profit organizations for their community work related to 
        Covid-19 crisis. <b>Vayu Airline</b> would also additionally contribute <b>10% against the donations done by 
        its customers</b>. Mission Humanity® have been active in reaching the people in need. In accordance with 
        the Internal Revenue Service guidelines, <b>Mission Humanity®</b> maintains discretion and sole control over
         the use of all donated gifts and funds. All donations are non-refundable. In practice, Mission 
         Humanity® honors the donor’s request for any of our previously approved programs and projects whenever 
         possible. In rare cases, when that is not possible, donations will be used where needed. Therefore, 
         <b> donors explicitly release Mission Humanity® from any restrictions on how those funds are spent.</b>  
         No goods or services were provided in return for any contribution. <b>Contributions are tax-deductible</b> 
         to the limit allowed by law if the donor itemizes.
    </p>
    <p>
        Donors who donate products, or Relief Funds that add up to <b>more than $249.99</b> in any given year 
        will <b>be mailed a statement</b> for all their donations by January of the following year. If you have 
        any questions regarding your donation(s) or <b>Mission Humanity®</b> or you need a receipt or a statement 
        of any of your contributions, please feel free to contact us <a href="#" class="blue">HERE</a>.
    </p>
    <p>
        Financial statements and other information about <b>Mission Humanity’s</b> purpose, programs, and 
        activities can be obtained on ImHum.org by contacting Mission Humanity® at ImHum@missionhumanity.org. 
        Mission Humanity® is a paperless organization. Therefore, all statements (Except End-Year Statements) 
        will be provided electronically, and no statement will be provided in a physical paper format.
    </p>
</div>

<div class="d-flex flex-row justify-content-between mb-3">
    <button (click)="onClose()" class="grey-button ml-4">Close</button>
    <button (click)="onContinue()" class="blue-button mr-4">Continue</button>
</div>