

<div class="card">
    <div class="card-body">
        <div class="row d-flex flex-row justify-content-between pl-4 pr-4">
            <div class="card-title">
                <h4 class="orange font-weight-bold mb-4 mt-3 mr-2">Vayu Travel Notice</h4>
            </div>
            <img src="../../../assets/images/vayu-logo.png" class="logo">
            <mat-icon class="close-icon" color="warn" [mat-dialog-close]="true">close</mat-icon>
        </div>

        <div class="row pl-4 pr-4 mt-3">
            <div class="overflow-auto scroll-text">
                <h5 class="dark-orange font-weight-bold mb-3">What we are doing for our Customers</h5>
                <p class="mb-2"><b>Setting a New Standard of Clean: </b> To provide cleaner surfaces and cleaner spaces, we’ve incorporated these new, enhanced cleaning practices.</p>
                <ul class="pl-4">
                    <li>
                    We are using electrostatic spraying to sanitize our aircraft with high-grade disinfectant. Through this process,
                     also called “fogging,” the disinfectant seeks out surfaces to attach to and disinfect.
                    </li>
                    <li>	Many of our aircrafts have advanced air filtration systems known as HEPA filters,
                        which extract more than 99.999% of viruses.</li>
                </ul>
                
                <p class="mb-2"><b>Making Space for Boarding & Seating: </b> To make space for safer travel for you, 
                    we’ve implemented the following changes* to reduce your interaction with other passengers.</p>
                <ul class="pl-4"> 
                    <li>	We are boarding from the back of the plane to the front to limit passenger interaction on the way to your seat</li>
                    <li>	We are blocking select seating across all cabins on all aircraft. All middle seats and select window and aisle seats will be
                            blocked from the seat map.</li>
                </ul>
               
                <p class="mb-2"><b>Caring for You Onboard:</b> To ensure we provide you the safest travel experience, we're making temporary changes onboard.</p>
                <ul class="pl-4"> 
                    <li>	Masks or face coverings are now required to be worn by all customers and employees. If needed, customers may request a Travel Wellness Kit with a face mask and sanitizing wipe. Amenity kits will continue to be 
                        provided on long-haul flights.</li>
                    <li>	We have removed non-essential items such as Sky magazine and glasses.</li>
                </ul>
               
                <h5 class="dark-orange font-weight-bold">What we are doing for Crew Members</h5>
                <ul class="pl-4">
                    <li>
                        Our top concern is ensuring the health and safety of our employees, and we expect to invest approximately $4 billion from April to June on COVID-related initiatives getting products to customers and keeping employees safe. This includes spending more than $800 million in the first half of the year on COVID-19 safety measures.
                    </li>
                    <li>
                        We are working with Healthcare providers to provide free Covid-19 tests for our Crew members.
                    </li>
                    <li>
                        We have made over 150 process updates—from enhanced cleaning and social distancing measures to new efforts like disinfectant spraying.
                    </li>
                    <li>
                        We have distributed personal protective gear, such as masks for our employees, and implemented disinfectant spraying and temperature checks across our operations worldwide.
                    </li>
                    <li>
                        Someone diagnosed with COVID-19 will receive up to two weeks of paid time off—this is in addition to their other paid and unpaid time off options.
                    </li>
                    <li>
                        Based on the latest CDC guidelines and new state and local laws in some of our largest markets, all JetBlue crewmembers will now wear face masks in public. This is in addition to protective measures already in place such as the use of medical-grade gloves and other available personal protective equipment (PPE).
                    </li>
                    <li>
                        We continue to monitor and respond to the rapidly evolving government restrictions to locations we fly. We are doing everything we can to minimize impact to your travel while protecting the health and safety of our customers and crewmembers.
                    </li>
                </ul>

                <h5 class="dark-orange font-weight-bold">What we are doing for communities around the globe</h5>
                <ul class="pl-4">
                    <li>
                        We have donated $20 million to accelerate COVID-19 research.
                    </li>
                    <li>
                        In North America, we committed €21 million (almost $23 million USD) to support those most affected by the COVID-19 pandemic.
                    </li>
                    <li>
                        We are working with foodbanks in 25 cities across the country to deliver 6 million meals to underserved and vulnerable populations.
                    </li>
                    <li>
                        We are donating $5 million to those in need.
                    </li>
                    <li>
                        We are donating 8,200 laptops to Seattle Public Schools students who do not have access to a device at home.
                    </li>
                    <li>
                        Through our Vayu’s Future Engineer program, we're donating 4,000 laptops to high school students across the U.S. and making new online computer science resources, including exam prep, free.
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- //add logo -->

