

<div class="card">
    <div class="card-body">
        <div class="row d-flex flex-row justify-content-between pl-4 pr-4">
            <div class="card-title">
                <h4 class="orange font-weight-bold mb-4">Vayu Travel Notice</h4>
            </div>
            <!-- <img src="../../../assets/images/vayu-logo.png" class="logo"> -->
            <mat-icon class="close-icon" color="warn" [mat-dialog-close]="true">close</mat-icon>
        </div>

        <div class="row pl-4 pr-4">
            <div class="overflow-auto scroll-text text-justify">
                <h5 class="font-weight-bold">What we are doing for Crew Members</h5>
                <p>
                    Our top concern is ensuring the health and safety of our employees, and we expect to invest approximately
                    $4 billion from April to June on COVID-related initiatives gettings products to customers and keeping employees safe.
                    This includes spending more than $800 million in the first half of the year on COVID-19 safety measures.
                </p>
                <p>
                    We are working with Healthcare providers to provide free COVID-19 tests for our Crew members. 
                    We've made over 150 process updates - from enhanced cleaning and social distancing measures to new efforts
                    like disinfectant spraying.
                </p>
                <p>
                    We've distributed personal protective gear, such a masks for our employees, and implemented disinfectant spraying and temperature checks
                    across our operations worldwide.
                    Someone diagnosed with COVID-19 will receive up to two weeks of paid time off - this is in addition to their other paid and unpaid time off options.
                </p>
                <h5 class="font-weight-bold">What we are doing for Customers</h5>
                <ul class="pl-4">
                    <li>
                        We're providing free masks to all Business Class customers
                    </li>
                    <li>
                        We are working with Healthcare providers
                    </li>
                    <li>
                        We enhanced cleaning at all Whole Foods Market stores and now open one hourr early for customers who are 60+ years old
                        in the U.S. (70+ years old in the UK).
                    </li>
                    <li>
                        We're reserving the first hour of grocery piickup at Whole Foods Market stores nationwide for customers 60 years and olders,
                        thoswe with disabilities, and thoswe whom the CDC defines as high risk.
                    </li>
                    <li>
                        Customers ordering delivery from Prime Now, Amazon Fresh and Whole Foods Market can select "unattended delivery" during checkout.
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- //add logo -->

