.close-button{
    float: right;
    top:-24px;
    right:-24px;
    background: none;
    border: none;
  }

  .logo {
    height: 80px;
    margin-right: 80px;
  }

  .scroll-text {
    height: 60vh;
    overflow-x: hidden;
  }

  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: x-large;
  }