<mat-tab-group [selectedIndex]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <mat-icon class="wellness-icon tab-icons"></mat-icon>
          <p class="font-weight-bold font-size1-2">
            Wellness Kit & Food Selection
          </p>
        </div>
      </div>
    </ng-template>
    <app-wellness-kit
      (onSubmit)="onSubmitOfWellnessKit()"
      (onSkipToIFE)="onSkipToDigitalIFE()"
      [fromCode]="fromCode"
      [toCode]="toCode">
    </app-wellness-kit>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <mat-icon class="digital-ife-icon tab-icons"></mat-icon>  
          <p class="font-weight-bold font-size1-2">
            Digital IFE
          </p>
        </div>
      </div>
    </ng-template>
    <app-digital-ife
        (onSubmit)="onSubmitOfDigitalIfe()"
        (onSkipToSR)="onSkipToSeatRegrouping()"
        [fromCode]="fromCode"
        [toCode]="toCode">
    </app-digital-ife>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <mat-icon class="seat-regrouping-icon tab-icons"></mat-icon>  
          <p class="font-weight-bold font-size1-2">
            Seat Regrouping
          </p>
        </div>
      </div>
    </ng-template>
    <app-adjacent-seat
        (onSubmit)="onSubmitOfAdjacentSeat()"
        [fromCode]="fromCode"
        [toCode]="toCode">
    </app-adjacent-seat>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <mat-icon class="bag-icon tab-icons"></mat-icon>  
          <p class="font-weight-bold font-size1-2">
            Add Bags
          </p>
        </div>
      </div>
    </ng-template>
    Content 4
  </mat-tab>
</mat-tab-group>
