<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <img src="../../../assets/images/ico_covid.png" alt="" />
          <p class="orange font-weight-bold font-size1-2 ">
            COVID Health & safety kit
          </p>
        </div>
      </div>
    </ng-template>
    Content 1
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <img src="../../../assets/images/ico_car.png" alt="" />
          <p class="font-weight-bold font-size1-2 ">
            Add Car
          </p>
        </div>
      </div>
    </ng-template>
    Content 2
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <img src="../../../assets/images/ico_pet.png" alt="" />
          <p class="font-weight-bold font-size1-2 ">
            Add Pets
          </p>
        </div>
      </div>
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div id="index-gallery">
        <div class="item">
          <img src="../../../assets/images/ico_bag.png" alt="" />
          <p class="font-weight-bold font-size1-2 ">
            Add Bags
          </p>
        </div>
      </div>
    </ng-template>
    Content 4
  </mat-tab>
</mat-tab-group>
