<app-navbar></app-navbar>
<app-header></app-header>
<div class="min-vh-100">
  <div class="card donations-section">
    <div class="card-body">
      <h4 class="card-title mb-4">Donations for COVID-19</h4>
      <div class="">
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12 pb-4">
            <mat-accordion>
              <mat-expansion-panel class="mb-3 shadow-sm" hideToggle [expanded]="isWellnessOpen">
                <mat-expansion-panel-header>
                  <h5 class="font-weight-bold w-100 pt-2 mt-1">Wellness Kit & Food Packages</h5>
                  <mat-icon></mat-icon>
                </mat-expansion-panel-header>
                <app-wellness-donation
                 [wellnessDon]="wellnessDon"
                 [firstDonation]="firstDonation"
                 (onWDConfirm)="setWellnessDonation($event)"
                 (onWDSkip)="onSkipToRelief()">
                </app-wellness-donation>
              </mat-expansion-panel>

              <mat-expansion-panel class="mb-3 shadow-sm" hideToggle [expanded]="isReliefOpen">
                <mat-expansion-panel-header>
                  <h5 class="font-weight-bold w-100 pt-2 mt-1">Funds for relief measures</h5>
                  <mat-icon></mat-icon>
                </mat-expansion-panel-header>
                <app-relief-funds
                  (onRFSkip)="onSkipToPayment()">
                </app-relief-funds>
              </mat-expansion-panel>

              <mat-expansion-panel class="mb-3 shadow-sm" hideToggle [expanded]="isPaymentOpen" disabled> 
                <!-- disabled="true" -->
                <mat-expansion-panel-header>
                  <h5 class="font-weight-bold w-100 pt-2 mt-1">Payment</h5>
                  <mat-icon></mat-icon>
                </mat-expansion-panel-header>
                <app-payment-donation>
                </app-payment-donation>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <app-recent-events></app-recent-events>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
