<form [formGroup]="wellnessDonationForm">
    <div>
      <div class="row font-size-1-1 pt-3 pb-3 pl-4 border-bottom">
        <div class="col-6">
          <mat-form-field >
              <mat-label class="font-size-1-1-5 font-weight-bold text-dark">I Want to Support</mat-label>
              <mat-select formControlName="support" [disabled]="submitted">
                  <mat-option [value]="1">
                    Globalgiving.org
                  </mat-option>
                  <mat-option [value]="2">
                      World Health Oraganization
                  </mat-option>
                  <mat-option [value]="3">
                      MissionHumanity
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <div class="d-flex flex-row justify-content-end pt-3 mr-2">
            <div class="add-items-link mr-4 font-size1-2" (click)="addAdditionalItems()">Add additional items</div>
          </div>
        </div>
      </div>

      <div class="row w-100">
        <div class="col-8">
          <div class="row pt-3 pl-2 pr-2">
            <div class="col-3"></div>
            <div class="col-3">
              Quantity
            </div>
            <div class="col-3">
              Size
            </div>
            <div class="col-2 d-flex justify-content-center">
              Price
            </div>
          </div>

          <div class="overflow-items" #scrollMe (scroll)="onScroll()">
            <div>
              <div *ngFor="let itemGroup of items.controls; let i = index">
                <div class="row pt-3 pb-3 border-bottom" [formGroup]="itemGroup">
                    <div class="col-12">
                        <div class="row" >
                            <div class="col-3 item-name mt-2">
                                {{ itemGroup.get('item').value }}
                            </div>
                            <div class="col-3">
                                <mat-select
                                class="form-control"
                                [disabled]="submitted"
                                formControlName="quantity"
                                >
                                <mat-option *ngFor="let qty of [0, 1, 2]" [value]="qty">
                                    {{ qty }}
                                </mat-option>
                                </mat-select>
                            </div>
                            <div class="col-3">
                                <mat-select
                                class="form-control"
                                [disabled]="submitted"
                                formControlName="size"
                                *ngIf="itemGroup.get('item').value === 'Mask'"
                                >
                                <mat-option
                                    *ngFor="let size of itemSizeOptions[0]"
                                    [value]="size"
                                >
                                    {{ size }}
                                </mat-option>
                                </mat-select>
                
                                <mat-select
                                class="form-control"
                                [disabled]="submitted"
                                formControlName="size"
                                *ngIf="itemGroup.get('item').value === 'Sanitizer'"
                                >
                                <mat-option
                                    *ngFor="let size of itemSizeOptions[1]"
                                    [value]="size"
                                >
                                    {{ size }}
                                </mat-option>
                                </mat-select>
                
                                <mat-select
                                class="form-control"
                                [disabled]="submitted"
                                formControlName="size"
                                *ngIf="itemGroup.get('item').value === 'Gloves'"
                                >
                                <mat-option
                                    *ngFor="let size of itemSizeOptions[2]"
                                    [value]="size"
                                >
                                    {{ size }}
                                </mat-option>
                                </mat-select>
            
                                <mat-select
                                class="form-control"
                                [disabled]="submitted"
                                formControlName="size"
                                *ngIf="itemGroup.get('item').value === 'Boxed Meal'"
                                >
                                <mat-option
                                    *ngFor="let size of itemSizeOptions[3]"
                                    [value]="size"
                                >
                                    {{ size }}
                                </mat-option>
                                </mat-select>
                            </div>
                            <div class="col-2 d-flex justify-content-end mt-2">
                                $
                                <span class="font-size1-2">
                                {{ itemGroup.get('quantity').value * itemGroup.get('price').value | number: ".2" }}
                                </span>
                            </div>
                        </div>
                        <!-- <div class="row d-flex flex-row mt-3 ml-2">
                            <mat-checkbox (click) = "$event.stopPropagation()" formControlName="self" [disabled]="submitted" class="ml-3">Annie</mat-checkbox>
                            <mat-checkbox (click) = "$event.stopPropagation()" formControlName="pone" [disabled]="submitted" class="ml-3">Pax 1</mat-checkbox>
                            <mat-checkbox (click) = "$event.stopPropagation()" formControlName="ptwo" [disabled]="submitted" class="ml-3">AB</mat-checkbox>
                        </div> -->
                    </div>   
                </div>
              </div>
    
              <ng-container *ngIf="wellnessDonationForm.get('additionalItems')">
    
              <ng-container  
                *ngFor="let itemGroup of additionalItems.controls; let i = index"
              >
                <div class="row pt-3 pb-3 border-bottom" [formGroup]="itemGroup">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3">
                        <button *ngIf="!submitted"
                                class="btn btn-sm p-0 remove-button rounded-circle" 
                                (click)="removeAdditionalItem(i)">
                          <svg class="bi bi-x remove-icon" width="1.4em" height="1.4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                          </svg>
                        </button>
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="item"
                          [ngClass]="{'w-100':submitted, 'w-75':!submitted}"
                          (selectionChange)="setPriceOfNewItem(itemGroup)"
                        >
                          <mat-option *ngIf="itemGroup.get('item').value === 'Select'" value='Select'>Select</mat-option>
                          <mat-option *ngFor="let item of itemNameOptions" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-3">
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="quantity"
                        >
                          <mat-option *ngIf="itemGroup.get('quantity').value === 'Select'" value='Select'>Select</mat-option>
                          <mat-option *ngFor="let qty of itemQuantityOptions" [value]="qty">
                            {{ qty }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-3">
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="size"
                          *ngIf="itemGroup.get('size').value === 'Select'"
                        >
                          <mat-option *ngIf="itemGroup.get('size').value === 'Select'"  value='Select'>Select</mat-option>
                        </mat-select>
        
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="size"
                          *ngIf="itemGroup.get('item').value === 'Mask'"
                        >
                          <mat-option
                            *ngFor="let size of itemSizeOptions[0]"
                            [value]="size"
                          >
                            {{ size }}
                          </mat-option>
                        </mat-select>
        
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="size"
                          *ngIf="itemGroup.get('item').value === 'Sanitizer'"
                        >
                          <mat-option
                            *ngFor="let size of itemSizeOptions[1]"
                            [value]="size"
                          >
                            {{ size }}
                          </mat-option>
                        </mat-select>
        
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="size"
                          *ngIf="itemGroup.get('item').value === 'Gloves'"
                        >
                          <mat-option
                            *ngFor="let size of itemSizeOptions[2]"
                            [value]="size"
                          >
                            {{ size }}
                          </mat-option>
                        </mat-select>
    
                        <mat-select
                          class="form-control"
                          [disabled]="submitted"
                          formControlName="size"
                          *ngIf="itemGroup.get('item').value === 'Boxed Meal'"
                        >
                          <mat-option
                            *ngFor="let size of itemSizeOptions[3]"
                            [value]="size"
                          >
                            {{ size }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-2 d-flex justify-content-end mt-2">
                        $
                        <span class="font-size1-2" *ngIf="itemGroup.get('quantity').value === 'Select'">
                          {{ itemGroup.get('price').value | number: ".2" }}
                        </span>
                        <span class="font-size1-2" *ngIf="itemGroup.get('quantity').value !== 'Select'">
                          {{ itemGroup.get('quantity').value * itemGroup.get('price').value | number: ".2" }}
                        </span>
                      </div>
                    </div>
                    <!-- <div class="row d-flex flex-row mt-3 ml-2" *ngIf="itemGroup.get('item').value !== 'Select'">
                        <mat-checkbox (click) = "$event.stopPropagation()" formControlName="self" [disabled]="submitted" class="ml-3">Annie</mat-checkbox>
                        <mat-checkbox (click) = "$event.stopPropagation()" formControlName="pone" [disabled]="submitted" class="ml-3">Pax 1</mat-checkbox>
                        <mat-checkbox (click) = "$event.stopPropagation()" formControlName="ptwo" [disabled]="submitted" class="ml-3">AB</mat-checkbox>                      
                    </div> -->
                  </div>
                </div>
              </ng-container>
    
              </ng-container>
            </div>
          </div>

          <div class="row p-4">
            <div class="col-8 pl-0 pr-0" >
              <button class="blue-button mr-3" (click)="onConfirm()" *ngIf="!submitted">Save</button>
              <button class="blue-button mr-3" (click)="onEdit()" *ngIf="submitted">Edit</button>
              <button class="grey-button" (click)="onSkip()">
                <span *ngIf="!submitted">Skip To Relief Funds</span>
                <span *ngIf="submitted">Next: Relief Funds</span>
              </button>
            </div>
            <!-- <div class="col-4 pl-0 d-flex justify-content-end">
              <div class="d-flex mr-3 pt-3">
                <div class="mr-2 font-size1-2">Total:</div>
                <div class="">
                  $
                  <span class="font-size1-2">
                    {{ totalPrice | number: ".2" }}
                  </span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-4 pl-3 pt-4">
          <img
            src="assets/images/covid_banner.png"
            class="w-100 h-75"
          />
        </div>
      </div>
    </div>
</form>