.overflow-items {
    overflow: hidden auto;
    height: 80vh;
}

.add-items-link {
    text-decoration: underline;
    cursor: pointer;
}

.item-name {
    position: relative;
    left: 26px;
}

.subscription {
    margin-left: 39px;
}