<!-- <div class="font-weight-bold pl-4 pt-3"><h5>Ancillaries</h5></div> -->
<div class="d-flex flex-row justify-content-end pt-2 pr-2">
  <mat-icon class="close-icon" [mat-dialog-close]="true">close</mat-icon>
</div>
    <mat-tab-group [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            <div class="item">
              <mat-icon class="wellness-icon tab-icons"></mat-icon>
              <h6 class="font-weight-bold">
                Wellness Kit & Food Selection
              </h6>
            </div>
          </div>
        </ng-template>
        <app-expanded-wellness-kit
          [isFirstBooking]="isFirstBooking"
          [wellnessKit]="wellnessKit"
          [totalPrice]="wellnessKitTotalPrice"
          (onWSkip)="onSkipToDigitalIFE()">
        </app-expanded-wellness-kit>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div id="index-gallery">
            <div class="item">
              <mat-icon class="digital-ife-icon tab-icons"></mat-icon>  
              <h6 class="font-weight-bold">
                Digital IFE
              </h6>
            </div>
          </div>
        </ng-template>
        <app-expanded-digital-ife
          [isFirstBooking]="isFirstBooking"
          [digitalIfeForm]="digitalIfeForm"
          [totalPrice]="digitalIfeTotalPrice"
          (onDIFESkip)="onSkipToSeatRegrouping()"
        >
        </app-expanded-digital-ife>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <div id="index-gallery">
            <div class="item">
              <mat-icon class="seat-regrouping-icon tab-icons"></mat-icon>  
              <h6 class="font-weight-bold">
                Seat Regrouping
              </h6>
            </div>
          </div>
        </ng-template>
        <app-expanded-adjacent-seat
          [isFirstBooking]="isFirstBooking"
          [adjacentSeatForm] = "adjacentSeatForm"
          [totalPrice] = "adjacentSeatTotalPrice"
          (onSRConfirm) = "onSeatRegroupingConfirm()"
        >
        </app-expanded-adjacent-seat>
      </mat-tab>
    
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          <div id="index-gallery">
            <div class="item">
              <mat-icon class="bag-icon tab-icons"></mat-icon>  
              <h6 class="font-weight-bold">
                Add Bags
              </h6>
            </div>
          </div>
        </ng-template>
        Content 4
      </mat-tab>
    </mat-tab-group>
