<!-- <div class="orange font-weight-bold pl-4 pt-3"><h5>Ancillaries</h5></div> -->
    <mat-tab-group [selectedIndex]="0">
      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            <div class="item">
              <img
                src="../../../assets/images/ico_wellness_kit.png"
                class="tab-icon"
                alt=""
              />
              <h6 class="orange font-weight-bold">
                Wellness Kit
              </h6>
            </div>
          </div>
        </ng-template>
        <app-expanded-wellness-kit
          [wellnessKit]="wellnessKit"
          [totalPrice]="totalPrice"
          [itemSizeOptions]="data.itemSizeOptions"
          (onWCancel)="onCancel()"
          (onWConfirm)="onConfirm()">
        </app-expanded-wellness-kit>
        <!-- <app-wellness-kit
      (onSubmit)="onSubmitOfWellnessKit()"
      (onSkipToIFE)="onSkipToDigitalIFE()"
      [fromCode]="data.fromCode"
      [toCode]="data.toCode">
        </app-wellness-kit> -->
      </mat-tab>

      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          <div id="index-gallery">
            <div class="item">
              <img
                src="../../../assets/images/ico_car.png"
                class="tab-icon"
                alt=""
              />
              <h6 class="font-weight-bold">
                Add Car
              </h6>
            </div>
          </div>
        </ng-template>
        Content 2
      </mat-tab>
    
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          <div id="index-gallery">
            <div class="item">
              <img
                src="../../../assets/images/ico_pet.png"
                class="tab-icon"
                alt=""
              />
              <h6 class="font-weight-bold">
                Add Pets
              </h6>
            </div>
          </div>
        </ng-template>
        Content 3
      </mat-tab>
    
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          <div id="index-gallery">
            <div class="item">
              <img
                src="../../../assets/images/ico_bag.png"
                class="tab-icon"
                alt=""
              />
              <h6 class="font-weight-bold">
                Add Bags
              </h6>
            </div>
          </div>
        </ng-template>
        Content 4
      </mat-tab>
    </mat-tab-group>
