:host ::ng-deep {
  .mat-tab-header {
    height: 15vh;
  }

  .mat-ripple {
    height: 18vh;
  }

  .mat-tab-labels {
    justify-content: center;
    color: black;

    .wellness-icon {
      background: url(../../../../assets/images/ico_wellness.png) no-repeat;
      content: "" !important;
    }

    .digital-ife-icon {
      background: url(../../../../assets/images/ico_IFE.png) no-repeat;
      content: "" !important;
    }

    .seat-regrouping-icon {
      background: url(../../../../assets/images/ico_seat_regrouping.png) no-repeat;
      content: "" !important;
    }

    .bag-icon {
      background: url(../../../../assets/images/ico_bag.png) no-repeat;
      content: "" !important;
    }

    .tab-icons {
      background-size: 42px;
      height: 45px;
      width: 54px;
    }
  }

  .mat-tab-label.mat-tab-label-active {
    color: #865e9a;

    .wellness-icon {
      background: url(../../../../assets/images/ico_wellness_act.png) no-repeat;
      content: "" !important;
    }

    .digital-ife-icon {
      background: url(../../../../assets/images/ico_IFE_Act.png) no-repeat;
      content: "" !important;
    }

    .seat-regrouping-icon {
      background: url(../../../../assets/images/ico_seat_regrouping_act.png) no-repeat;
      content: "" !important;
    }


    .bag-icon {
      background: url(../../../../assets/images/ico_bag_act.png) no-repeat;
      content: "" !important;
    }

    .tab-icons {
      background-size: 42px;
      height: 45px;
      width: 54px;
    }
  }


  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #865e9a;
  }

  .mat-tab-body-content {
      overflow: hidden !important;
  }

  //add this when ancillaries title is added
  // .mat-tab-group {
  //   position: relative;
  //   bottom: 51px;
  // }

  .mat-tab-label.mat-tab-label-active {
    opacity: 1;
  }

  .mat-select-arrow {
    width: 13px;
    height: 11px;
    background: url(../../../../assets/images/ico_chevron.png) no-repeat;
    background-size: 13px;
    border: none;
    margin: 0 4px;
  }

  .mat-radio-label-content {
    font-size: 0.9rem;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
      background-color: #07b9e5;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: rgba(105, 103, 103, 0.5);
  }

  .mat-radio-container{
      height: 15px;
      width: 15px;
  }

  .mat-radio-outer-circle{
      height: 15px;
      width: 15px;
  }

  .mat-radio-inner-circle{
      height: 15px;
      width: 15px;
  }

  .mat-radio-button .mat-radio-ripple{
      height: 30px; /*double of your required circle radius*/
      width: 30px;  /*double of your required circle radius*/
      left: calc(50% - 15px); /*'10px'-same as your required circle radius*/
      top: calc(50% - 15px); /*'10px'-same as your required circle radius*/
  }

}

.tab-icon {
  height: 40px;
  margin-bottom: 8px;
}

[hidden] {
  display: none !important;
}

[show] {
  display: show !important;
}
