<div class="row d-flex flex-row justify-content-between pl-4 pr-4">
    <h4 class="font-weight-bold mb-4 mt-3 mr-2">Wellness items to bring in for your trip: </h4>
    <img src="assets/images/vayu_logo_checklist.jpeg">
    <mat-icon class="close-icon" [mat-dialog-close]="true">close</mat-icon>
</div>

<div class="pl-2 pr-2">
    <div class="d-flex flex-row p-1 pb-2">
        <h5 class="font-weight-bold">Mandatory</h5>
    </div>
    <div class="overflow-items">
        <div class="d-flex flex-row p-1">
            <img src="assets/images/masks.jpeg">
            <div class="align-self-center ml-3 py-2">Face Mask (1 per traveller)</div>
        </div>
        <div class="d-flex flex-row p-1">
            <img src="assets/images/gloves.jpeg">
            <div class="align-self-center ml-4">Pair of gloves (1 per traveller)</div>
        </div>
        <div class="d-flex flex-row p-1">
            <img src="assets/images/sanitizer.jpeg" class="mr-1">
            <div class="align-self-center ml-4">Sanitizer (1 OZ per traveller)</div>
        </div>
        <div class="d-flex flex-row p-1">
            <img src="assets/images/face_shield.jpeg" class="mr-1">
            <div class="align-self-center ml-3">Face Shield (1 per traveller)</div>
        </div>
    </div>
</div>

<div class="p-2 pt-4">
    <div class="d-flex flex-row p-1 pb-2">
        <h5 class="font-weight-bold">Recommended</h5>
    </div>
    <div class="overflow-items">
        <div class="d-flex flex-row p-1">
            <img src="assets/images/digital_ife.jpeg">
            <div class="align-self-center ml-3">Digital IFE (1 per device)</div>
        </div>
        <div class="d-flex flex-row p-1">
            <img src="assets/images/boxed_meals.jpeg">
            <div class="align-self-center ml-3">Boxed Meals (1 per traveller) <small>as per travel guidelines</small></div>
        </div>
        <div class="d-flex flex-row p-1">
            <img src="assets/images/snacks.jpeg">
            <div class="align-self-center ml-3">Snacks <small>as per travel guidelines</small></div>
        </div>
    </div>
</div>

<div class="d-flex flex-row justify-content-end mb-2">
    <button (click)="onContinue()" class="blue-button mr-3">I Agree</button>
</div>