<div class="container-fluid main-header">
    <div class="row">
        <div class="col-4">
            <img src="../../../../assets/images/logo_main_screen.png" 
                 (click)="redirect()"
                 class="logo">
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-2-4">
                    <img src="../../../../assets/images/ico_book_act.png" 
                         (click)="redirect()"
                         class="row icons">
                    <span class="row book-title">Book</span>
                </div>
                <div class="col-2-4">
                    <img src="../../../../assets/images/ico_trips.png" class="row icons">
                    <div class="row d-flex flex-column">
                        <span>Manage</span>
                    </div>
                </div>
                <div class="col-2-4">
                    <img src="../../../../assets/images/ico_checkin.png" class="row icons">
                    <span class="row">Check-In</span>
                </div>
                <div class="col-2-4">
                    <img src="../../../../assets/images/ico_deals.png" class="row icons">
                    <span class="">Deals</span>
                </div>
                <div class="col-2-4">
                    <img src="../../../../assets/images/ico_track.png" class="row icons">
                    <span class="row">Track</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-7 d-flex flex-row-reverse">
                    <img src="../../../../assets/images/img_profile.png" class="profile-pic">
                </div>
                <div class="col-5 d-flex flex-column profile-details">
                    <div class="d-flex flex-row">
                        Welcome <span class="profile-name d-flex flex-row"> Anne <img src="../../../../assets/images/img_ddn_06.png" class="symbol"></span>
                    </div> 
                    <div>
                        1050 Points
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>