.main-header {
    height: 105px;
    margin-bottom: 8px;

    .logo {
        height: 80px;
        margin: 10px;
    }

    .icons {
        height: 50px;
        margin-top: 20px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .profile-header {
        padding: 100px;
    }

    .profile-pic {
        margin-top: 20px;
        height: 70px;
    }

    .profile-info {
        padding-top: 30px;
        padding-left: 25px;
    }

    .profile-details {
        margin-top: 30px;
        margin-left: -20px;
    }

    .profile-name {
        color: #ff530f;
        font-weight: bold;
        margin-left: 5px;
    }

    .symbol {
        margin-top: 10px;
        height: 10px;
        margin-left: 5px;
        cursor: pointer;
    }
    
}



