.flight-list-section {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    box-shadow: 0px 3px 10px -5px #00000030;

        .flight-list-options {
            text-align: center;
            margin-left: 6px;
            cursor: pointer;

            .selected-date {
                background-color: orangered;
                color: white;
            }
    
            .flight-list-options-price {
                font-size: 1.25rem;
            }
    
            .flight-list-options-date {
                font-size: 0.75rem;
            }
        }
    
    

    .flight-list-title {
        padding-left: 10px;
        color: orangered;
    }

    .edit-icon {
        height: 19px;
        margin-left: 7px;
        margin-bottom: 6px;
        cursor: pointer;
    }

    .scroll-left-icon, .scroll-right-icon {
        height: 20px;
        margin-top: 15px;
        cursor: pointer;
    }

    .col-half-and-quarter {
        flex: 0 0 6.2499999975%;
        max-width: 6.2499999975%;
    }

    .col-1-half {
        flex: 0 0 12.499999995%;
        max-width: 12.499999995%;
    }
}