<app-navbar></app-navbar>
<app-header></app-header>
<div class="min-vh-100">
    <div class="card flight-list-section">
        <div class="card-body">
            <div class="row d-flex flex-row">
                <div class="col-1-half pl-2">
                    <h4 class="card-title flight-list-title">Flight List</h4>
                </div>
                <div class="col-3">
                    <div class="row">
                        <span>{{ flightDetails.from }} to {{ flightDetails.to }}</span>
                    </div>
                    <div class="row">
                        <span>{{ flightDetails.depart }}</span> <span><img src="../../../assets/images/ico_edit_35.jpg" class="edit-icon"></span>
                    </div>
                </div>
                <div class="col-7-half">
                    <div class="row ml-4">
                        <div class="col-half-quarter">
                            <span><img src="../../../assets/images/ico_scroll_left.png" class="scroll-left-icon"></span>
                        </div>
                        <div *ngFor="let numbers of [0,1,2,3,4,5,6]" class="col-1-half flight-list-options">
                            <div class="d-flex flex-column" [ngClass]="{'selected-date': numbers === 3}">
                                <div class="flight-list-options-price">
                                    $404
                                </div>
                                <div class="flight-list-options-date">
                                    {{ dateFormat2[numbers] }}
                                </div>
                            </div>
                        </div>
                        <div class="col-half-quarter">
                            <span><img src="../../../assets/images/ico_scroll_right.png" class="scroll-right-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div *ngFor="let number of [0,1,2,3,4]">
                <app-flight-list-item 
                    [flightDetails]="flightDetails"
                    [show]="number">
                </app-flight-list-item>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>