
<div class="card book-flight">
    <div class="card-body">
        <form formGroupName="bookFlightsForm" (ngSubmit)="onFlightsearch()">
        <h4 class="card-title">Book Flights</h4>
        <div class="radio-button-group">
            <label class="radio-inline radio-item"><input type="radio" name="flightdirection" class="radio-button" checked >One Way</label>
            <label class="radio-inline disabled radio-item"><input type="radio" name="flightdirection" class="radio-button" disabled>Round Trip</label>
            <label class="radio-inline disabled radio-item"><input type="radio" name="flightdirection" class="radio-button" disabled>Multi-city</label>
        </div>
        <div class="row">
            <div class="col-3">
                <div><label>From </label></div>
                <div><input type="text" class="form-control textbox" formControlName="from" placeholder="Toronto All Airports"></div>
            </div>
            <div class="col-3">
                <div><label>To </label></div>
                <div><input type="text" class="form-control textbox" formControlName="to" placeholder="New York All Airports"></div>
            </div>
            <div class="col-3">
                <div><label>Depart </label></div>
                <div><input type="date" class="form-control date" formControlName="return" value="2020-05-01"></div>
            </div>
            <div class="col-3">
                <div><label>Return </label></div>
                <div><input type="date" class="form-control date" formControlName="return" value="2020-05-04"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div><label>Passengers </label></div>
                <div>
                    <select class="form-control select" formGroupName="passengers">
                        <option>
                            Adult
                        </option>
                        <option>
                            Children
                        </option>
                        <option>
                            Infants
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div><label>Class </label></div>
                <div>
                    <select class="form-control select" formControlName="classes">
                        <option>Business</option>
                        <option>Economy</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                
            </div>
            <div class="col-3">
                <div></div>
                <div>
                    <button (click)="onFlightsearch()" class="btn btn-primary btn-block search-button">Search Flights</button>
                </div>
            </div>
        </div>
        </form>
      </div>
</div>