<div class="card book-flight">
    <div class="card-body">
        <form [formGroup]="bookFlightsForm" (ngSubmit)="onFlightSearch()">
            <h4 class="card-title">Book Flights</h4>
            <div class="radio-button-group">
                <label class="radio-inline radio-item"><input type="radio" name="flightdirection" class="radio-button"
                        checked>One Way</label>
                <label class="radio-inline disabled radio-item"><input type="radio" name="flightdirection"
                        class="radio-button" disabled>Round Trip</label>
                <label class="radio-inline disabled radio-item"><input type="radio" name="flightdirection"
                        class="radio-button" disabled>Multi-city</label>
            </div>
            <div class="row">
                <div class="col-3">
                   <div><label>From </label></div> 
                   <div>
                        <select class="form-control select" formControlName="from"
                                (change)="onSelect($event.target.value)">
                            <option
                                *ngFor="let origin of origins.data.origins" 
                                [value]="origin.code">
                                {{origin.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div><label>To </label></div>
                    <div>
                        <select class="form-control select" formControlName="to">
                            <option
                                *ngFor="let destination of destinations.data.destinations"
                                [value]="destination.code">
                                {{destination.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div><label>Depart </label></div>
                    <div><input type="date"  class="form-control date" min="minDate" formControlName="depart" value="2020-05-08"></div>
                </div>
                <div class="col-3">
                    <div><label>Return </label></div>
                    <div><input type="date" disabled class="form-control date" min="minDate" formControlName="return" value="2020-05-31"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div><label>Passengers</label></div>

                    <mat-accordion class="form-control passengers-field" formGroupName="passengers">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'34px'" [expandedHeight]="'40px'">
                                <mat-panel-title>
                                    {{ totalPassengers }} &nbsp;
                                    <span *ngIf="totalPassengers == 1"> Passenger</span>
                                    <span *ngIf="totalPassengers > 1"> Passengers</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row d-flex flex-row justify-content-between m-0">
                                <label class="passengers-title">Adults</label>
                                <mat-form-field class="passengers-select">
                                    <mat-select [(value)]="adults" formControlName="adults">
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="row d-flex flex-row justify-content-between m-0">
                                <label class="passengers-title">Children</label>
                                <mat-form-field class="passengers-select">
                                    <mat-select [(value)]="children" formControlName="children">
                                        <mat-option value="0">0</mat-option>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="row d-flex flex-row justify-content-between m-0 mb-2">
                                <label class="passengers-title">Infants</label>
                                <mat-form-field class="passengers-select">
                                    <mat-select [(value)]="infants" formControlName="infants">
                                        <mat-option value="0">0</mat-option>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="col-3">
                    <div><label>Class </label></div>
                    <div>
                        <select class="form-control select" formControlName="class">
                            <option>Business</option>
                            <option>Economy</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">

                </div>
                <div class="col-3">
                    <div></div>
                    <div>
                        <button type="submit" 
                                class="btn btn-primary btn-block search-button">
                            Search Flights
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>