
<div class="card book-flight">
    <div class="card-body">
        <h4 class="card-title">Book Flights</h4>
        <div class="radio-button-group">
            <label class="radio-inline radio-item"><input type="radio" name="flightdirection" class="radio-button" checked >One Way</label>
            <label class="radio-inline disabled radio-item"><input type="radio" name="flightdirection" class="radio-button">Round Trip</label>
            <label class="radio-inline disabled radio-item"><input type="radio" name="flightdirection" class="radio-button">Multi-city</label>
        </div>
        <div class="row">
            <div class="col-3">
                <div><label>From: </label></div>
                <div><input type="text" class="textbox"></div>
            </div>
            <div class="col-3">
                <div><label>To: </label></div>
                <div><input type="text" class="textbox"></div>
            </div>
            <div class="col-3">
                <div><label>Depart: </label></div>
                <div><input type="date" class="date"></div>
            </div>
            <div class="col-3">
                <div><label>Return: </label></div>
                <div><input type="date" class="date"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div><label>Passengers: </label></div>
                <div>
                    <select class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div><label>Children: </label></div>
                <div>
                    <select class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div><label>Infants: </label></div>
                <div>
                    <select class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div></div>
                <div>
                    <button class="btn btn-primary btn-block search-button">Search Flights</button>
                </div>
            </div>
        </div>
      </div>
</div>