:host ::ng-deep {
    .mat-tab-header {
      height: 15vh;
    }
  
    .mat-ripple {
      height: 18vh;
    }
  
    .mat-tab-labels {
      justify-content: center;
    }
  
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: #07b9e5;
    }
  
    .mat-tab-body-content {
        overflow: hidden !important;
    }
  
    //add this when ancillaries title is added
    // .mat-tab-group {
    //   position: relative;
    //   bottom: 51px;
    // }
  
    .mat-tab-label.mat-tab-label-active {
      opacity: 1;
    }
}
    
  
  .overflow-items {
      overflow: hidden auto;
      height: 45vh;
    }
  
    .confirm-button {
      border: none;
      background-color: #07b9e5;
      color: white;
      width: 120px;
      height: 40px;
      font-size: 1.2rem;
      margin-right: 13px;
    }
    
    .edit-button {
      border: none;
      background-color: #07b9e5;
      color: white;
      width: 120px;
      height: 40px;
      font-size: 1.2rem;
      margin-right: 13px;
    }
    
    .skip-button {
      border: none;
      background-color: #808080b3;
      color: white;
      width: 12rem;
      height: 40px;
      font-size: 1.2rem;
    }
  
  .add-items-link {
      text-decoration: underline;
      cursor: pointer;
    }
  
  .remove-button.focus, .remove-button:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(176, 185, 193, 0.25);
    }
    
  .remove-icon {
    transition: 1s ease-in-out;
  }
  
  .remove-icon:hover {
    transform: rotate(180deg);
  }
  
  .tab-icon {
    height: 40px;
    margin-bottom: 8px;
  }
  
  [hidden] {
    display: none !important;
  }
  
  [show] {
    display: show !important;
  }
  