.flight-list-item {
    margin-bottom: 15px;
    box-shadow: 0px 3px 10px -5px #00000030;

    .col-half {
        flex: 0 0 2.0833333325%;
        max-width: 2.0833333325%;
    }
    
    .col-1-quarter {
        flex: 0 0 10.4166666625%;
        max-width: 10.4166666625%;
    }
    
    .col-1-half {
        flex: 0 0 12.499999995%;
        max-width: 12.499999995%;
    }

    .col-1-half-n-quarter {
        flex: 0 0 14.5833333275%;
        max-width: 14.5833333275%;
    }

    .col-11-half {
        flex: 0 0 95.833333295%;
        max-width: 95.833333295%;
    }

    .orange-line {
        border: 0.5px solid #ed3223;
    }

    .plane-icon {
        height: 30px;
        margin-top: 15px;
    }

    .flight-list-item-label {
        text-align: center;
    }

    .flight-list-item-price {
        font-size: 1.25rem;;
    }

    .flight-list-item-details{
        position: relative;
        left: 25px;
        padding: 1rem 0.2rem;
    }

    .flight-list-item-selection {
        padding-left: 10px;
        background: orangered;
        max-width: fit-content;
        margin-left: 35px;
        cursor: pointer;

        .flight-selection-button {
            margin-top: 30px;
            height: 28px;
        }
    }

    .flight-list-item-selection-not {
        padding-left: 10px;
        background: #ffc9b2;
        max-width: fit-content;
        margin-left: 35px;
        cursor: pointer;

        .flight-selection-button {
            margin-top: 40px;
            height: 28px;
        }
    }

    .flight-list-item-selection-not:hover {
        background: orangered
    }
}



