<div class="card flight-list-item">
    <div class="">
        <div class="row">
            <div class="col-11 pl-4 flight-list-item-details">
                <div class="row d-flex flex-row">
                    <div class="col-2">
                        <div class="d-flex flex-column flight-list-item-label">
                            <div>
                                {{ fromTimes[show] }}
                            </div>
                            <div>
                                {{ from }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <div class="row">
                            <div class="col-1">
                                <img src="../../../../assets/images/ico_flight_off.png" class="plane-icon">
                            </div>
                            <div class="col-10 d-flex flex-column mt-2">
                                <div class="text-center">{{ connectionDetails }}</div>
                                <div class="black-line"></div>
                            </div>
                            <div class="col-1 pl-0">
                                <img src="../../../../assets/images/ico_flight_42.png" class="plane-icon">
                            </div>                 
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row d-flex flex-column flight-list-item-label">
                            <div>
                                {{ toTimes[show] }}
                            </div>
                            <div>
                                {{ to }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2" *ngIf="class === 'Economy'">
                        <div class="row d-flex flex-column flight-list-item-label">
                            <div  class="flight-list-item-class">
                                Economy
                            </div>
                            <div class="flight-list-item-price">
                                ${{ economyPrice[show] }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2" *ngIf="class === 'Business'">
                        <div class="row d-flex flex-column flight-list-item-label">
                            <div  class="flight-list-item-class">
                                Business
                            </div>
                            <div class="flight-list-item-price">
                                ${{ businessPrice[show] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 pl-0 d-flex justify-content-end"  (click)="onFlightSelection()">
                <div [ngClass]="{'flight-list-item-selection-not': show, ' flight-list-item-selection': !show}">
                    <img src="../../../../assets/images/ico_sel_white.png" class="flight-selection-button">
                </div>
            </div>
        </div>
    </div>
</div>