<div class="card flight-list-item">
    <div class="card-body">
        <div class="row d-flex flex-row">
            <div class="col-1-half">
                <div class="d-flex flex-column flight-list-item-label">
                    <div>
                        07:15
                    </div>
                    <div>
                        Toronto (YVZ)
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex flex-column">
                <div class="row">
                    <div class="col-1">
                        <img src="../../../../assets/images/ico_FL_Take.png" class="plane-icon">
                    </div>
                    <div class="col-10 d-flex flex-column mt-2">
                        <div class="text-center">Non-Stop 4 hr 55 min</div>
                        <div class="orange-line"></div>
                    </div>
                    <div class="col-1">
                        <img src="../../../../assets/images/ico_FL_Land.png" class="plane-icon">
                    </div>                 
                </div>
            </div>
            <div class="col-1-half">
                <div class="row d-flex flex-column flight-list-item-label">
                    <div>
                        12:10
                    </div>
                    <div>
                        New York (LGA)
                    </div>
                </div>
            </div>
            <div class="col-1-quarter">
                <div class="row d-flex flex-column flight-list-item-label">
                    <div  class="flight-list-item-class">
                        Economy
                    </div>
                    <div class="flight-list-item-price">
                        $402
                    </div>
                </div>
            </div>
            <div class="col-1-quarter">
                <div class="row d-flex flex-column flight-list-item-label">
                    <div  class="flight-list-item-class">
                        Business
                    </div>
                    <div class="flight-list-item-price">
                        $848
                    </div>
                </div>
            </div>
            <div class="col-half">
                <img (click)="onFlightSelection()" src="../../../../assets/images/ico_scroll_right.png" class="flight-selection-button">
            </div>
        </div>
    </div>
</div>