.itinerary-confirmation-section {
    margin: 30px;

    .itinerary-confirmation-details-row {
        margin: 15px 3px;
        font-size: 1.1rem;
    }
}

.links {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #0cabd3;
    }
}

.font-size-1-1 {
    font-size: 1.1rem;
}

.card{
    box-shadow: 0px 3px 10px -5px #00000030;
}

.icons {
    height:30px
}

.min-h-20 {
    min-height: 330px;
}

.overflow-items {
    overflow: hidden auto;
    height: 217px;
}