<div class="row">
    <div class="col-7-5 img-section">
        <img src="./assets/images/bg_login.jpg" class="mx-auto d-block" class="h-100 w-100">
    </div>
    <div class="col-4-5">
        <div class="main-title">
            <img src="./assets/images/logo_va_bl.png" class="logo">
        </div>
        <h4 class="login-title">Log in </h4>
        <h5 class="credentials-title">Please enter your credentials to login </h5>
        <div style="margin-top:30px">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group input-group mb-3 input-group-lg mb-4">
                    <input type="text" class="form-control ml-4 mr-4" formControlName="email"
                        placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required" class="err-msg">Email is required</div>
                        <div *ngIf="f.email.errors.email" class="err-msg">Email must be a valid email address</div>
                    </div>
                </div>

                <div class="form-group input-group mb-3 input-group-lg mb-4">
                    <input type="password" class="form-control ml-4 mr-4" formControlName="password"
                        placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required" class="err-msg">Password is required</div>
                    </div>
                </div>

                <div class="form-group form-check ml-4 mb-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember">Keep me logged in
                    </label>
                </div>
                <div class="form-group ml-4 mr-4">
                    <button type="submit" class="button">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>