<div class="container-fluid flight-search-header">
    <div class="row">
        <div class="col-4 logo">
            <img src="../../../../assets/images/vayu-logo.png">
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-2">
                    <div>ICON</div>
                    <label class="section-label"><span class="book-title">Book</span></label>
                </div>
                <div class="col-2">
                    <div>ICON</div>
                    <label class="section-label">Trips</label>
                </div>
                <div class="col-2">
                    <div>ICON</div>
                    <label class="section-label">Check-In</label>
                </div>
                <div class="col-2">
                    <div>ICON</div>
                    <label class="section-label">Deals</label>
                </div>
                <div class="col-2">
                    <div>ICON</div>
                    <label class="section-label">Track</label>
                </div>
            </div>
        </div>
        <div ckass="col-3 profile inline">
            <div class="row profile-info">
                <div class="col-3">

                </div>
                <div class="col-3 profile-pic">
                    
                </div>
                <div class="col-6 profile-details">
                    <span>
                        Welcome <span class="profile-name"> Amy </span>
                    </span> 
                    <span>
                        Points: 1500
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>