.flight-search-header {
    height: 105px;

    .logo {
        padding-left: 0px;
    }

    .section-label {
        position: absolute;
        top: 70px;

        .book-title {
            color: orangered;
        }
    }


    .profile-info {
        height: 100%;
        padding: 20px;
    }

    .profile-pic {
        background-color: orangered;
        border-radius: 50%;
        padding: 20px;
    }

    .profile-name {
        color: orangered;
        font-weight: bold;
    }
    
}



