<div>
    <img src="assets/images/certificate.jpg" class="certificate-img p-4">
</div>
<div class="d-flex flex-row justify-content-between mb-3">
    <button (click)="onClose()" class="grey-button ml-4">Close</button>
    <button (click)="onClose()" class="blue-button mr-4">
        <a href="assets/images/certificate.jpg" download="certificate" class="d-flex align-items-center">
            <span class="pr-1"> Download </span>
            <span class="material-icons text-white"> get_app </span>
        </a>
    </button>
</div>