.review-itinerary-section {
    padding: 0px;
    .review-itinerary-flight-details-row {
        margin-bottom: 15px;
        margin-left: 3px;
        box-shadow: 0px 3px 10px -5px #00000030;
    }
    
    .review-itinerary-btn {
        background-color: #07b9e5;
        color: white;
        border: 1px solid #07b9e5;

        &:hover {
            background-color: #0cabd3;
        }
    }

    .flight-number-label {
        // font-weight: bold;
    }

    .important-notice-section {
        margin-left: 23px;
        margin-bottom: 15px;

        .important-notice-label {
            color: #565353;
            font-weight: 600;
        }
    }

    .review-itinerary-change-link {
        color: #07b9e5;
        text-decoration: underline;
        cursor: pointer;
    }

    .departing-flight-title {
        font-size: 1.15rem;
        font-weight: bold;
    }

    .total-cost-title {
        font-weight: bold;
        font-size: 1.1rem;
    }
}