/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.checkout {
  .card {
    position: relative;
    margin: 30px;
    
    .card-title {
      color: orangered;
    }

    .card-body {
      padding: 1.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

.orange {
  color: #ff530f;
}

.line-height {
  line-height: 2rem;
}

.font-size1-2 {
  font-size: 1.2rem;
}

.font-size1-3 {
  font-size: 1.3rem;
}

.font-size1-5 {
  font-size: 1.5rem;
}

.font-size2 {
  font-size: 2rem;
}

.font-weight-400{
  font-weight: 400;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

.text-orange-red {
  color: orangered;
}

.cursor-pointer {
  cursor: pointer;
}

.col-7-half {
  flex: 0 0 62.499999975%;
  max-width: 62.499999975%;
}

.col-4-half {
  flex: 0 0 37.499999985%;
  max-width: 37.499999985%;
}

.col-2-4 {
  flex: 0 0 19.999999992%;
  max-width: 19.999999992%;
}