/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.checkout, .book-flight {
  .card {
    position: relative;
    margin: 30px;
  
    .orange {
      color: #ff530f;
    }
    .line-height {
      line-height: 2rem;
    }
    .card-title {
      color: orangered;
    }
    .font-size1-2 {
      font-size: 1.2rem;
    }
    .font-size2 {
      font-size: 2rem;
    }
    .card-body {
      padding: 1.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}  


.custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}
