/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.orange {
  color: $orange-color;
}

.line-height1-7 {
  line-height: 1.7rem;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-400{
  font-weight: 400;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

.regulation-dialog-container .mat-dialog-container {
  padding: 0px !important;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cursor-pointer {
  cursor: pointer;
}

.col-7-half {
  flex: 0 0 62.499999975%;
  max-width: 62.499999975%;
}

.col-4-half {
  flex: 0 0 37.499999985%;
  max-width: 37.499999985%;
}

.col-2-4 {
  flex: 0 0 19.999999992%;
  max-width: 19.999999992%;
}

.font-size-0-8 {
  font-size: 0.8rem;
}

.font-size-0-6 {
  font-size: 0.6rem;
}

.font-size-0-9 {
  font-size: 0.9rem;
}

.font-size-1-1-5 {
  font-size: 1.15rem;
}

.font-size1-2 {
  font-size: 1.2rem;
}

.font-size1-3 {
  font-size: 1.3rem;
}

.font-size1-5 {
  font-size: 1.5rem;
}

.font-size1-7 {
  font-size: 1.7rem;
}

.font-size2 {
  font-size: 2rem;
}

.close-icon {
  transition: 1s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}

.bg-blue {
  background-color: $blue-color;
}

.bg-violet {
  background-color: $violet-color;
}

.blue {
  color: $blue-color;
}

.violet {
  color: $violet-color;
  //  #865e9a;
}

.symbol {
  height: 10px;
  cursor: pointer;
}

.button {
  display: inline-block;
  color: white;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: $blue-color;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: .25rem;

  &:hover {
    background-color: $blue-color;
  }
}

.blue-button {
  @extend .button;
}

.grey-button {
  @extend .button;
  background-color: #808080b3;

  &:hover {
    background-color: #616161b3;
  }
}

.remove-button.focus, .remove-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(176, 185, 193, 0.25);
}

.remove-icon {
  transition: 1s ease-in-out;
}

.remove-icon:hover {
  transform: rotate(180deg);
}

.pt-50 {
  padding-top: 50px !important;
}

.ptb-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}

.discount-img {
  height: 19px;
}

.cdk-focused {
  outline: none !important;
}

.btn-primary {
    @include button-variant($blue-color, darken($blue-color, 7.5%), darken($blue-color, 10%), lighten($blue-color,5%), lighten($blue-color, 10%), darken($blue-color,30%));
}

.btn-outline-primary {
    @include button-outline-variant($blue-color, #222222, lighten($blue-color,5%), $blue-color);
}

button:disabled {
  cursor: default;
  pointer-events: all !important;
}

.form-control:disabled, .form-control[readonly] {
 background-color: transparent;
 color: rgba(0, 0, 0, 0.38);
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $blue-color;
}