// :host ::ng-deep {
//     .mat-button-toggle-button {
//         outline: none !important;
//     }

//     .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
//         border: none !important;
//     }

//     .mat-button-toggle-appearance-standard {
//         margin-right: .5rem !important;
//     }

//     .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
//         line-height: 36px;
//         font-size: 1.07rem;
//         border: 1px solid;
//         border-radius: 5px;
//     }

//     .mat-button-toggle {
//         background-color: #fff;
//         color: #07b9e5;
//       }
    
//     .mat-button-toggle-checked {
//         background-color: #07b9e5;
//         color: #fff;
//     }

//     .mat-button-toggle:hover {
//         background-color: #07b9e5;
//         color: #fff;
//     }

//     .mat-button-toggle .mat-button-toggle-focus-overlay {
//         background-color:none;
//     }
// }

.btn-outline-primary {
    color: #07b9e5;
    border-color: #07b9e5;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #07b9e5;
    border-color: #07b9e5;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #07b9e5;
    border-color: #07b9e5;
}

